<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ph.gov.geocamera">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Android 8 and below: exporting photos to public Pictures -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- Network availability for background sync -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="GeoKlik"
        android:icon="@mipmap/icons"
        android:roundIcon="@mipmap/icons_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeoCamera">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".presentation.firstlaunch.FirstLaunchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.GeoCamera.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.home.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.geocamera.GeoCameraActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <activity
            android:name=".presentation.settings.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.library.LibraryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.permissions.PermissionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.site.SetSiteActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.GeoCamera" />

        <activity
            android:name=".presentation.gallery.GalleryActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".presentation.gallery.PreviewImagesActivity" />
        <activity android:name=".presentation.gallery.SiteDatesActivity" />
        <activity android:name=".presentation.gallery.GroupImagesActivity" />

    </application>

</manifest>
